@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.33%);
    }
}

.animate-scroll {
    animation: scroll 30s linear infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.3;
        transform: scale(0.95);
    }

    100% {
        opacity: 0.5;
        transform: scale(1.05);
    }
}